*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3rem;
}
.images img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

@media (max-width:920px) {
    .images img{
        width: 200px;
        height: 190px;
    }
}
@media (max-width:620px) {
    .images img{
        width: 190px;
        height: 130px;
    }
}
@media (max-width:590px) {
    .images img{
        width: 180px;
        height: 110px;
    }
}
@media (max-width:560px) {
    .images img{
        width: 150px;
        height: 110px;
    }
}
@media (max-width:468px) {
    .images img{
        width: 130px;
        height: 110px;
    }
    .images{
        gap: .1rem;
    }
}
@media (max-width:400px) {
    .images img{
        width: 120px;
        height: 100px;
    }
    .images{
        gap: .1rem;
    }
}